.nav-container {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: #f1f1f1;
  height: 40px;
  overflow: hidden;
  box-shadow: 2px 2px 2px #c2c2c2;
  border-bottom: 1px solid #a5a5a5;
  z-index: 5;
  transition: 0.5s;
  justify-content: space-between;
}

.nav-container:hover{
  height: 45px;
  transition: 0.5s;
}


.n-topright {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    // border: 2px solid black;
}

.n-logged-in-buttons {

  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 100%;



}

.n-logo-area {
  margin-left: 50px;
  height: 100%;
}

.logo {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.n-logo-area:hover {
  background-color: white;
}


.currentuser {
  margin-right: 15px;
}

.my-page {
  height: 90%;
  padding-left: 10px;
  padding-right: 10px;
}

.explorer-but {
  height: 90%;
  padding-left: 10px;
  padding-right: 10px;
}

.le-add-photo {
  height: 90%;
  padding-left: 10px;
  padding-right: 10px;
}
