.nav-container {
  display: inline-flex;
  flex-direction: row;
  width: 100%;

  justify-content: flex-end;
  background-color: #e5e5e5;
  padding-bottom: 2px;
  opacity: 0.8;
  height: 20px;

}



.li-su {


  padding: 3px;
  padding-bottom: 3.5px;

  margin-left: 5px;
  margin-right: 3px;
}
