
html, body, main {
  height: 100%;
  overflow: hidden;
}


.main {
  font-family: "Trebuchet MS";
  // background-image: url('images/websitebackground.png');
  background-image: url('https://static.pexels.com/photos/167699/pexels-photo-167699.jpeg');
  background-size: 100% 100%;
  height: 100vh;
  background-attachment: fixed;
}

.mainflex {
  display: flex;
}
