.profileflex {
  display: flex;
}
.profile-list {

  display: flex;
  flex-wrap: wrap;


  overflow: scroll;
  height: 95vh;
}

.profile-area {
  width: 100%;
}

.person-area {
  padding-top: 10px;
  width: 60%;
  margin: 0 auto;
  // background-color: white;
  height: 133.7px;
  display: flex;
  flex-direction: row;
}

.profile-image {
  width: 20%;
  background-color: red;
  margin-right: 5%;
}

.viewed-username {
  // margin-right: 30px;
  font-size: x-large;
}

.profile-info {
  width: 75%;
}

.profile-info-top-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
  height: 30%;
  align-items: center;
}

.profile-info-middle-area {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-around;
  height: 20%;
  align-items: center;
  }

.description-area {
  border: 1px solid black;
  height: 45%;
}

.profile-index-item {
  width: 30%;
  margin: auto auto;
}
