

.explorerlist {
  overflow: scroll;
  height: 95vh;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
}



.eii {
  border-style: solid;
  border-width: 1px;
  border-color: #a5a5a5;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 420px;
  height: auto;
  box-shadow: 2px 2px 2px #716363;
}

.e-post-author {
  color: black;
  margin-right: 5px;
}

.e-post-description {
  color: #444469;
}

.e-post-top-text-area {
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: blue;
}

.e-image-area {
  height: 40%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  width: 90%;
  border-radius: 0px;
}


.item-image {



  height: 300px;
  width: auto;
  max-width: 400px;
}

.e-comment-area {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: #f4f4f4;
  margin: 0 auto;
  padding: 5px;
  height: 70px;
  overflow: scroll;
  border: 0.5px solid #e2e1e1;
  border-style: inset;
  margin-bottom: 10px;
  // box-shadow: 10px 10px 5px #888888;
}

.e-comment-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 95%;
}




.e-individual-comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.individual-comment:hover {
  box-shadow: 1px 1px 1px #888888;
}



.e-comment-author {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.e-comment-x {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.eii-bottom-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete-comment-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 3px;
  width: 10px;
}

.body-input {
  margin-bottom: 5px;
  width: 90%;
}

.e-comment-body {
  color: #303030;
}

.comment-and-delete {
  display: flex;
  flex-direction: row;
}

.e-new-comment-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  height: 100%;
}

.e-body-input {
  width: 88%;
  background-color: #e3e3e3;
  height: 100%;
  padding: 3px;
  padding-left: 4px;
  border-radius: 5px;
  border: 0.5px solid #a8a1a1;
}

.e-body-input:focus {
  box-shadow: 1px 1px 1px #888888;
}
