.index-area {

  background-color: rgba(214,201,194,0.3);
  text-align: center;
  width: 100%;
  min-width: 350px;
  margin-left: 10%;
  height: 95%;
  margin-top: 5px;
}

.indexlist {
  overflow: scroll;
  height: 90vh;
}


.index-item {
  width: 30%;
  margin-left: 15%;
  border-style: solid;
  border-width: 1px;
  border-color: #a5a5a5;
  background-color: white;

  // padding-bottom: 80px;
  margin-bottom: 70px;
}

.post-author {
  color: #5342f4;
  float: left;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 5px;
}

.post-description {
  font-style: italic;
  float: left;
  margin-bottom: 0px;
}

.post-top-text-area {
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 2.5%;
}

.item-image {
  border-style: solid;
  border-width: 1px;
  border-color: #a5a5a5;
  width: 95%;
  margin-left: 2.5%;
  min-width: 200px;
  height: 100%;
}
