.likes-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.like-button {
  margin-left: 5%;
}

.numlikes {
  margin-right: 5%;
}

.view-comments {
  text-align: center;
}

.top-comments {
  text-align: center;
}

.pii-comment-area {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #dbdbdb;
  margin: 0 auto;
  padding: 5px;
  height: 70px;
  overflow: scroll;
  border: 1px solid black;
  margin-bottom: 10px;
}

.individual-comment {
  width: 100%;
  padding-top: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.new-comment-form {
  margin-top: 10px;
  // border: 1px solid black;
  margin: 0 auto;
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.body-input {
  border: 1px solid black;
  padding: 4px;
}
