.profile-button {
  border-radius: 50%;
 width: 55px;
 height: 55px;
 background-color: white;
 position: relative;

 margin-left: 20%;
 margin-top: 150px;
 border-style: solid;
 border-color: black;
 border-width: 2px;
 transition: 0.5s;
 margin-top: 30px;
 text-align: center;


}

.profile-button:hover {
  background-color: #70a6ff;
  transition: 0.5s;
}
