.form-backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}



.new-post-form {
  z-index: 4;
  background-color: white;
  width: 40%;
  height: 60%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px rgba(170 , 170, 170, .2);
  border: 1px solid #8b8b8b;
}

.cloud-upload-button {
  height: 70%;
  width: 93%;
  background-color: black;
  color: white;
  border-radius: 0px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.input-description {
  width: 88%;
  height: 15%;
  margin: 0 auto;
  overflow: wrap;
  font-family: Courier, Monaco, monospace;
  background-color: #d8d8d8;
  text-align: left;
  overflow-y: scroll;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 3px;
  border-style: inset;
}



.new-post-submit-button {
  margin: 0 auto;
  width: 30%;
  background-color: #186bbe;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  transition: 0.5s;
  color: white;
  border: 1px solid black;

}

.new-post-submit-button:hover {
  background-color: green;
  color: white;
  transition: 0.5s;
}

.close-button {
  color: white;
  margin-top: 10px;
  margin-left: 60%;
  margin-bottom: 5px;
}
